<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generator Charecters</title>
    <script>  
$(document).ready(function(){
$('#btn').click(function(){
    $.ajax({
            url:'/',
            type:'POST',
            dataType:'JSON',
            success: function(result){
            $('#image').attr('src','data:image/png;base64,'+ result.image);   
            }
    });
});
$('#btn1').click(function(){
  var youUrl =$('#image').attr('src');
  var link = document.createElement("a");
    link.setAttribute("href", youUrl);
    link.setAttribute("download", Date.now()+"image.jpg");
    link.click();
}); 
}); 
    </script>    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#">Generator Charecters</a>
  </div>
</nav>  
<div class="container-fluid">
  <div style="top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);margin: 0;position: absolute;" class="card">
  <img id="image" src='data:image/png;base64,{{image}}'class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">This is image generator application</h5>
    <p class="card-text">Click the "generate" button for create random character sprite, and then push "save" for saving image. You also may pushing "generate" again.</p>
    <button id="btn" name="btn" type="button" class="btn btn-primary">generate</button>
    <button id="btn1" name="btn1" type="button" class="btn btn-primary">save</button>
  </div>
</div>


</div>

</body>
</html>